<html>
  <body>
      <h3>One Player Game</h3>
        <h4>And Your Name Is?</h4>
    <form method="post" action="1p_game"> 
      <input type="text" name="p1_name" placeholder="Player Name" required><br>
      <input type="radio" name="difc" value="human">Human<br>
      <input type="radio" name="difc" value="easy">Easy<br>
      <input type="radio" name="difc" value="med">Med<br>
      <input type="radio" name="difc" value="hard"checked>Hard<br>
          Player2 Name<br> 
      <input type="text" name="p2_name" placeholder="Player2 Name" required><br>
      <input type="radio" name="difc2" value="human">Human<br>
      <input type="radio" name="difc2" value="easy">Easy<br>
      <input type="radio" name="difc2" value="med">Med<br>
      <input type="radio" name="difc2" value="hard"checked>Hard<br>   
      <input type="submit"name="go" value ="GO">
    </form>
  
      
      <h3>LeaderBoard</h3><br>
    <form method="post" action="scores">
			<input type="submit" value="SCORE">
		</form>

  </body>
</html>