<!DOCTYPE html>
<html>
				<h2>LeaderBoard
	<body>
    MAIN MENU<br>
    <a href = '/'></a>
  
		<table width = 95% height = 75%>	
  		<form method="post" action="return">
        <th>p1name</th>
        <th>P2name</th>
        <th>Winner</th> 
        <th>Time</th>
      
    <%result.each do |row|%>
      <tr>	
        <td><%=row['p1_name']%></td>
        <td><%=row['p2_name']%></td>
        <td><%=row['winner']%></td>	
        <td><%=row['gametime']%></td>
      </tr>
    <%end%>	
		</table>	 
    </h2>
    </body>	