h1{
  margin-left: 32%;
  margin-right: 35%;
  color: rgb(230, 122, 22); 
  opacity: 0.5;
  width: 33%;
  height: 15%;
  padding-top: 13px;
  padding-bottom: 17px;
  border:13px rgb(224, 93, 22);
  border-style: groove;	
  background-color: #5e483b;
  font-size: 24;
  }
h2{
  /* text-align:center;  */
  margin-left:30%;
  color: rgb(133, 16, 16); 
  opacity: 0.5;
  width: 36%;
  height: 22%;
  padding: 15px;
  border: 13px rgb(80, 40, 8);
  border-style: inset;	
  font-size: 27;
  }
td{
  padding-left: 5%;
} 
h3{
  font-size: 28;
  }
h4{
  font-size: 21;
  }
h5{
  font-size: 8vh; 
  } 

/* input type submit{
  size: 82;
  } */
form{
  font-size: 18;
  }
body{
  color:rgb(221, 106, 18);
  align-content: center;
  text-align: center;
  background-image: url(/imgs/creephouse.jpg);	
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120rem;
  background-attachment: fixed;
  text-shadow: 1px 1px #913a07c1;
  font-size: 21;
  }
.classsquares{
  font-size:5vh; 
}
